/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2015, 8:07:39 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/

.contentWrapper {
  overflow: hidden;  
   display: inline-block;
    position: absolute;
    margin-bottom: 100px;
    color: #00BBFF;
    background: #222222;
    width:100%;
    margin-top: 100vh;
    
}
.slLineBreak {
    width: 80%;
}
