/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Oct 10, 2015, 11:30:18 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/




/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/webfont/flexslider-icon.eot');
    src: url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/flexslider-icon.woff') format('woff'), url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'), url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: inline;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    margin: 0 0 0;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
    zoom: 1;
} 
.flexslider .slides img {
    height: auto;
}
.flex-viewport {
    height: 70vh;
    width:100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: auto;
    height: 105px;
    margin: -20px 0 0;
    position: absolute;
    top: 30%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
    font-family: "FontAwesome";
    font-size: 80px;
    height: 80px;
    width:auto;
    display: inline-block;
    content: '\f190';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
    font-family: 'FontAwesome';
    content: '\f18e';
}
.flex-direction-nav .flex-prev {
    left: -50px;
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a .flex-play:before {
    content: '\f003';
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}
.slSLider-button {

    display: inline-block;
    height: 50px;
    // line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color:rgb(41,127,184);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    top: 100px;
    right: 0px;
    width: 300px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}
.slScrollTextwrapper-c, .slScrollTextwrapper-d, .slScrollTextwrapper-b, .slScrollTextwrapper-a {
    position: absolute;
    font-size: 32px;
    top: 0px;
}

.slScrollTextwrapper-d {
    top: 0px;
    left: 0px;

}
.slScrollTextwrapper-c {
    top: 0px;
    left: 0px;
}

.slScrollTextwrapper-b {
    top: 0px;
    left: 0px;
}

.slScrollTextwrapper-a {

    top:0px;  

}

.slider-blurbWrapper{
    display: inline-block;
    position: absolute;
    top: 0;

}
.slider-blurbContainer {
    position: relative;
    bottom: 0;
    top: 0;
}
.slider-blurbContainer span {
    display: inline-block;
    position: absolute;
    // font-size: 24px;
  //  padding: 5px;
    border: 3px solid #817E65;
    border-radius: 10px;
    line-height: 25px;
    text-align: center;
    opacity: 0.9;


}
.slider-blurbA {
    font-family: $font-header;

    background: #C2CCD4;
    color: #111316 ;
    opacity: .9;
    top: 25px;
    left: 25px;
    width: 450px;
    //font-size: 28px;
}
.slider-blurbB { 
        font-family: $font-article;

    background: #F5F8F2;
    color: #1C6280 ;
    opacity: .9;
    bottom: -44vh;
    left: 25vw;
    width: 450px;
    font-size: 20px;

}
.slider-blurbC  {
        font-family: $font-article;

    background: #161A24;
    color: #D8EBFF ;
    opacity: .9;
    bottom: -50vh;
    left: 45vw;
    width: 450px;
    font-size: 24px;


}

.slFlexbutton, .slFlexbutton a {
    background: url(/img/getQuote.svg) 0 -65px;
    height:65px;
    width:580px;
    display:block;
}
.slFlexbutton a {
    background-position: 0 0;
}
.slider-blurbButton {
    position: absolute;
    bottom: -439px;
    left: 35vw;
    border-radius: 5em;
    font-family: $font-button;
    font-size: 28px;

}
.flex-wrapper {
    display: block;
    position: relative;
    background: #EFEFF7;
   height: auto;
    width: 100%;
    //top: 100px
        
}

.flex-transWrapper {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
   // bottom: 20px;
    //left: -10px;
    //width: 105vw;

}
#flex-transTop {
    
    display: block;
        background: #222222;
    width: 100%;
    height: 250px;
   // position: absolute;
  
}
#flex-transBottom {
 display: block;
 background: #222222;
    width: 100%;
    height: 250px;
    
}
@media only screen and (max-width: 770px) {

    .slider-blurbContainer span {

      

    }   
    .slider-blurbA {
          width: 250px;
        left: 25vw;
        font-size: 14px;    
    }
    .slider-blurbB { 
        width: 150px;
       // bottom: 35px;
                font-size: 12px;
    }
    .slider-blurbC {
                font-size: 12px;
                width: 150px;

    }
    .slider-blurbButton {
    bottom: -190px;

    }

}