/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 3:34:50 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
footer {
    display: block;
    width: 100%;
    height: 300px;
    min-height: 500px;
    background: url('/img/44.svg') no-repeat,
        grey ;
    background-position: center;
    background-size: 200%;
    bottom: -500px;
    position: fixed;
    z-index: -1;
   
}
.footer-text {
    
    
}
.footer-logoIntro {
    color: ghostwhite;
    font-size: 28px;
    font-family: $font-header;
}
.footer-wrapper {
    position: relative;
    display: block;
    padding-top: 150px;
    padding-bottom: 150px;
}
#footer-simDevTag {

    display: inline-block;
    position: absolute;
    height: 400px;
    top: -250px;
    left: 10px;
    z-index: 10;


}
#footer-simDevName {

    display: inline-block;
    position: absolute;
    height: 150px;
    top: 50px;
    left: 140px;
    z-index: 20;


}

.footer-simDevWrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 30px;
}
