/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 1:38:18 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/

.iM-wrapper {
    display: block;
    position: relative;
    height: content-box;
    text-align: center;
    //top: 2400px;
 
}
    i {
        
        display: inline-block;
    }
    input {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 65vw;
        color: #0079A5;
        btn {
            color: white;
        }
    }
    
    #locationToggleBtn {
        position: relative;
        top: -11vh;
        
    }
    #slInputEmail, #slInputPhone {
       // position: relative;
        //left: 27vw;
        //right: 35vw;

    }
    #slInputPhone {

    }
    .svgWrapper {
        display: inline;
    }
    .formHeader {
        width: 100%;
        font-size: 42px;
    }
    .hvr-icon-buzz-out {
        top:-20px; 
        right: -50px;
        height: 110px;

        &:before {
            font-family: FontAwesome;
            content: "\f003";


        }


    }
    .slSubmitFormBtn {
        
        color: #e9e9f9;
    }

