/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2015, 6:10:11 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
.navbar-default{
    
    background: #111316;
    border:none;

}
.navbar-header {
    display: inline-block;
    position: relative;
    height: 70px;
    @include vpf('transition','all 1s ease');

}
.navbar-toggle {
    z-index: 1011;
}

.navbar-logoWrapper {
    display: inline;
    position: absolute;
    top: -20px;
    left: -7px;


    @include vpf('transition','all 0.5s ease');


    .navbar-brand-topIcon{
        display: inline;
        position: absolute;
        z-index: 1010;
    }


}

.nav-logoContainer {
    position: relative;
    width: 250px;
    //top:10px;
    img {
        position: absolute;


    }
}
.nav-logoShield {
    width: 25%;
}
.nav-logoText {
    width: 100%;
    left: 30px;
} 
.navbar-default {

    display:inline;
    position: absolute;
}
.nav > li > a {
    
}
.nav > li > a {
        display: inline;
        width: 100%;
        @include vpf('transition','all 1.2s ease');
    &:hover, &:focus, &:active {
        background: none;
        text-decoration: none;
        color: white;
    }
}   
.nav-navMenuWrapper {
    padding-top: 20px;
    //position: absolute;
    // top: 0px;
    //left: 30px;
    //right: 10px;

}


.slNav {
   // display: inline;
    position: relative;
    text-align: -webkit-center;
    text-align: center;
    //top: -20px;
    //padding-left: 70px;
    width: auto;
    //padding-right: 10px;
   @include vpf('transition','all 1s ease');

   @media only screen and (min-width: 780px) {
    padding-left: 200px;
    right: 0px;

   }

    li {
        @include vpf('transition','all 1s ease');
        font-family: $googleFont02;
        font-size: 26px;
        display: inline-flex;
    }

}
.navbar-collapse.in {
    overflow-y: visible;
    overflow-x: hidden;
    

}
.navbar-toggle {
    display: absolute;
    top: 15px;
    right: -280px;
}

.nav-LogoContainer {
    position:relative;

    @include vpf('transition','all 0.5s ease');
}

