/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Oct 19, 2015, 1:21:24 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/


.quotes-wrapper {


    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
    background: #cacaca;
    text-align:center;
    img {
        width: 200px;
    }
}
.quotes-header {
    width: 100vw;
    background: #DDDDDD;
    font-family: $font-header;
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.56);        
    -webkit-box-shadow: inset 3px 3px 12px -2px rgba(50, 50, 50, 1);
    -moz-box-shadow:    inset 3px 3px 12px -2px rgba(50, 50, 50, 1);
    box-shadow:         inset 3px 3px 12px -2px rgba(50, 50, 50, 1);
}
p {

    background: #222222;
    border: 2px solid white;
    border-radius: 10px;
    padding:15px 10px 5px 10px;
    width: 100%;
    font-family: $font-article;
    font-size: 20px;
    opacity: .7;

}

.quotes-headerText {
    color: #006699;
    font-family: $font-article;
    font-size: 32px;
    line-height: .9;
    padding-left: 25px;
    padding-right: 25px;
    margin: 30px;
    padding-bottom: 25px;
    text-shadow: -2px 1px 1px #C9CBFF;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}