/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Oct 22, 2015, 7:32:59 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/

.services-wrapper {
    display: block;
    position: relative;
    //top: 2400px;
   // height: content-box;
    background: #FFFFFF;
    
    #servicesA {
        display: block;
        position: absolute;
        top: -150px;
    }
    .services-header {
        display: inline-block;
        position: relative;
        width: 100vw;
        height: auto;
        
            
    }
    
    .services-preTitle {
        display: inline-block;
        position: relative;
        width: 100%;
        font-size: 32px;
        font-family: $font-subTitle;
        text-shadow: 2px 4px 3px #C9CBFF;

    }
    .services-title {
       display: inline-block;
            position: relative;
            font-family: $font-title;
            font-size: 64px;
            text-shadow: 0px 4px 3px #C9CBFF;

            letter-spacing: 3px;
            //padding: 15px;
            width: 100%;
                            @include vpf(transition, 'all 2s');

            &:hover, &:focus, &:active {
                @include vpf(transition, 'all 2s');
                 color: #56FFFF;
            }
            //background: #CBD1DA;
    
            @media only screen and (max-width: 770px) {
            font-size:42px;
            
            }
    }
    
    .well {
        display: inline-block;
height: auto;
width: 100%;
    }


}