/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Oct 6, 2015, 5:40:14 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/

header
{
  width: 100%;
  height: 100vh;
  top: -10px;
  position: fixed;
  z-index: -1;
}

.bg__splash {

    position: absolute;
    display: block;
    height: 100vh;
    width:100vw;
    background: url('/img/carKeyIgnition.jpg') no-repeat ;
          

    
}
.splash-contianer {

    
}
.splashWrapper {

    padding:0 0 0 0;
    height: 100vh;



    .splash-bottomBannerLinks {

        top:-24px;

    }
    .splash-bottomBannerLinks {
        display: inline-block;
        position: relative;
        width: 100vw;   
        min-width: 100%;
        font-size: 36px;


    }


}
.splash-topBannerWrapper {
    display: block;
    position: absolute;
   // padding-top: 15px;
    width: 100vw;
    opacity: .8;
    background: ghostwhite;
}

.splash-topBanner {
    width: 100%;
}
.splash-topBanner a {
    top: -2vh;
   // height: 100%;
}
.splash-topBanner a img {
    width: 100%;
    max-height: 6.9vh;


}

.splash-logoWrapper, .splash-nameWrapper, .splash-shieldWrapper {

    display: inline-block;
    position: absolute;
   // left: -14vw;
}
.splash-nameWrapper {
    
    top:12vh;
}
.splash-shieldWrapper {
    top: 10vh;
    left: 0vw;
}
.splash-logoWrapper {
top:-11vh;
}

.splash-nameContainer {
    position: absolute;
    top:11vh;
        background: #060E16;
        
    img {
        width: 100vw;
        max-height: 30vh;
    }
}
.splash-shieldContainer {
     position: absolute;
    top:38vh;
@media only screen and (min-width: 1000px) {
    top:40vh;
}
    img {
        width: 100vw;
        max-height: 40vh;
    }
}


.splash-footerWrapper {
    display: block;
    position: absolute;
bottom: 0vh;  //  width: 105vw;
    height: auto;
    opacity: .9;
    background: #F8F8FF;
   // padding-top: 13vh;
    //left:-35px;
}
.splash-footerContainer {
    padding: 0;
    
}

.splash-footerContainer span.row span {
    margin: 0;
    padding: 0;
}

.splash-footerContainer a {
    
  //  width: 50vw;
}
.splash-footerContainer a img {
    left:0;
    width: 100%;
    max-height: 9vh;
    
}
.splash-footerEmailA {
z-index: 100;
}
.splash-footerNumberA {
    z-index: 10;

}
.splash-footerContainer {
 //   position: relative;
    width: 100%;
}


.splash-footer { 
   
    a {
    position: absolute;
    height: 100%;
    width:100%;
    font-size: 24px;
    font-family: $googleFont04;


    }
    a img {
        width: 100%;

    }
}

.splash-blurbWrapper {
    display: inline-block;
    position: absolute;
    top: 42vh;
   // right: 17vw;
    width: 20vw;
    z-index: 100;

}
.splash-blurbContianer {
    display: block;
    position:relative;
    width: 100%;
    text-align: center;
}
.splash-blurbText {
    font-size: 32px;
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
    border-radius: 5px;
    line-height: 45px;
    padding: 4px;
    opacity: .9;

}

.headerTextBlock1 {
    background-color: #22D7D0;

}
.headerTextBlock2 {
    color: black;
    background-color: #fcfbfb;

}
.headerTextBlock3 {
    color: white;
    background-color: #303A53;
}




@media only screen and (max-width: 770px) {

    .splash-blurbWrapper {
        top: 45vh;
    }
    .splash-blurbText {
        font-size: 18px;
        line-height: 30px;

    }
    .splash-blurbContianer {
        
        text-align: center;
    }
    #splashBannerContainer {
        position:relative;
        
        
    }
    
    .splash-topBannerWrapper {
       //bottom: -1vh;
      // padding-bottom: 2vh;
   // padding-top: 8vh;
    //padding-bottom: 7vh;
    top: 65vh;
    text-align: center;
z-index: 100;
    }
    .splash-topBanner a {
        margin-bottom: 10px;
        width:70%;

    }
    .splash-topBanner a img {
        max-height: 8vh;
    }
   
    .splash-logoWrapper {
        top: -18vh;
        
    }
    .splash-nameWrapper {
        top: 15vh;
        
    }
    .splash-nameContainer {
        padding-top: 1vh;
    }
    .splash-shieldWrapper {
        top: 10vh;
    }
    .splash-shieldContainer {
        //bottom: 45vw;
        
    }
    .splash-footerWrapper {
     //  width: 110vw;
    bottom: auto;
    top: 0vh;
        
    }
    
    .splash-footerContainer a {
                
    }
    .splash-footerNumberA {
       // top: -10vh;
        img {


        }
    }
    .splash-footerEmailA {
       // bottom: -48vh;
    img {
      right:0vw;  
       }
    }
}  //end of media break           
@media only screen and (max-height: 640px) {

    .splash-blurbWrapper {
        top:75vh;
        z-index: 502;
        @media only screen and (max-width: 770px) {
            top:50vh;
        }
        
    }
    .splash-blurbContianer {
        display: block;
        width: 108vw;
        font-size: 16px;
        
        
    }
    .splash-blurbText {
        display: inline;
    }
    .splash-nameWrapper {
        top: 15vh;
        z-index: 502;
        
        
    }
       
    .splash-topBannerWrapper {
        display: block;
    height: auto;
    z-index: 500;
    
     top: 0vh;
    //bottom: 80vh;
   
        
    }
    .splash-footerWrapper {
        z-index: 501;
       // top: 50vh;
    }
    .splash-shieldWrapper {
        top: 17vh;
            
    }
    @media only screen and (max-width: 770px) {
    
        .splash-footerWrapper {
            //top: 10vh;
        }
        .splash-nameWrapper {
            top: 18vh;
            
        }
        .splash-shieldWrapper {
            top: 16vh;
            
        }
        .splash-blurbWrapper {
            top: 27vh;
        }
        .splash-topBannerWrapper {
            top: 66vh;
            
        }
        
        .splash-topBanner .row span {
            background: ghostwhite;
        }
    }
}
@media only screen and (max-height: 300px) {
    
    .splash-nameWrapper {
        top: 23vh;
    }
    
    .splash-topBannerWrapper {
        visibility: hidden;
    }
    .splash-blurbWrapper {
        top: 1vh;
        }
        .splash-shieldWrapper {
           // top: 
        }
}