// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
@import "compass/css3";


//helpers
@mixin vpf($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.shadowed {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
//fonts
@import "partials/_fonts.scss";

//sections
@import "partials/_content.scss";
@import "partials/_navbar.scss";

@import "partials/_flexslider.scss";
@import "partials/_splash.scss";
@import "partials/_imServ.scss";
@import "partials/_services.scss";
@import "partials/_index.scss";
@import "partials/_iM.scss";
@import "partials/_quotes.scss";
@import "partials/_about.scss";
@import "partials/_callButton.scss";
@import "partials/_footer.scss";


// fx
@import "partials/_img-fx.scss";


// globLS
body{
    background-color: black;
}

[class*="bg__"] {

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) 
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }*/
}
.parallax {
    position: relative;
  [class*="bg__"] {
    position : absolute;
z-index: -10;
    height : 100vh;

    text-indent : -9999px;

    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;
    
    &:nth-child( 2n ) {
      box-shadow : inset 0 0 1em #111; 
    }
  }
}