/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Nov 7, 2015, 10:22:25 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/*
a.shineShield {
    display: inline-block;
    background: url("/img/shield.svg") 0 0 no-repeat;
    width: 100%;
    height: 336px;
    overflow: hidden;
    
}


a.shineShield span {
    display: inline-block;
    background: url("/img/shiny.svg") -300px -300px no-repeat;
    transition-property: all;
    transition-duration: .8s;
    width: 90%;
    height:250px;
    
}

a.shineShield:hover span {
    
    background-position: 330px 330px;
}
**/
p a{
  color: rgba(0,0,0,.6);
}
.maskShield a{
  position: relative;
  display:block;
  width:150px;
  height: 64px;
  text-align:center;
  margin: 50px auto;
  background: url("/img/shield.svg") ;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}
.maskShield a{
  background-position: -140px 0;
  
}
.maskShield a:hover,
.maskShield a:focus{
  background-position: 10px 0;
  /*change speed to see in slow motion*/
  transition: all 1s;
}
.maskShield a::after{
  content:'';
  position: absolute;
  pointer-events: none;
  top:0; left:0; right:0; bottom: 0;
  background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background-position: inherit; 
  -webkit-mask: url('/img/shiny.svg') center;
  mask: url('#mask-firefox');
}